html,body{
    position: relative;
    display: block;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#container{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#title-container{
    position: relative;
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

#title{
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    padding: 10px 20px;
    margin: 0px auto;
    box-sizing: border-box;
    border-radius: 25px;
    background-color: #FF1818;

    font-family: 'Montserrat-Bold';
    font-size: 21px;
    color: #ffffff;
    text-align: center;
    font-weight: normal;
    line-height: normal;
    margin-bottom: 10px;
    box-shadow: 0px 5px 10px -3px rgba(0,0,0,0.8);
}
#subtitle{
    display: block;
    width: auto;
    height: auto;
    padding: 0px;
    margin: 0px;

    font-family: 'Montserrat-Medium';
    font-size: 14px;
    color: #000000;
    text-align: center;
    font-weight: normal;
    line-height: normal;
}

#rollo-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0px;
    left: 0px;
}

#rollo-wrap{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    background-color: #ECDAC2;
}
.rollo-container{
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    margin: 0px;
    align-items: flex-end;
    justify-content: center;
}
.rollo-container img{
    display: block;
    width: 100%;
    height: 90%;
    object-fit: contain;
    object-position: center bottom;
    margin: 0px;
}

#thumbnails{
    position: absolute;
    width: auto;
    height: auto;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 5px 0px 7px -2px rgba(0,0,0,0.7);
}
.thumbnail{
    position: relative;
    width: 150px;
    height: 70px;
    box-sizing: border-box;
    padding: 7px 15px;
    background-color: #ffffff;
    display: block;
    margin: 0px;
}
.thumbnail-img{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.thumbnail > img{
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    top: 50%;
    top: calc(50% - 25px);
    top: -moz-calc(50% - 25px);
    left: 50%;
    left: calc(50% - 25px);
    left: -moz-calc(50% - 25px);
    filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.8));
}

#informacion{
    position: absolute;
    width: 300px;
    height: auto;
    left: 250px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
}

.informacion-off{
    filter: blur(20px);
    opacity: 0;
    visibility: hidden;

    transition: filter 0.5s, opacity 0.5s, visibility 0.5s;
}
.informacion-on{
    filter: blur(0px);
    opacity: 1;
    visibility: visible;

    transition: filter 0.5s, opacity 0.5s, visibility 0s;
}

#informacion-txt{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}
#informacion-txt h2,
#informacion-txt p{
    margin: 0px;
    padding: 0px;
    display: block;
    width: auto;

    font-weight: normal;
    line-height: normal;
    text-align: center;
}

#informacion-txt h2{
    font-family: 'Montserrat-Bold';
    font-size: 16px;
    color: #D01921;
    margin-bottom: 10px;
}
#informacion-txt p{
    font-family: 'Montserrat-Medium';
    font-size: 14px;
    color: #000000;
}
