html,body{
    position: relative;
    display: block;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#container{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#title-container{
    position: relative;
    width: 100%;
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
    box-sizing: border-box;
}

#title{
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    padding: 10px 20px;
    margin: 0px auto;
    box-sizing: border-box;
    border-radius: 25px;
    background-color: #FF1818;

    font-family: 'Montserrat-Bold';
    font-size: 21px;
    color: #ffffff;
    text-align: center;
    font-weight: normal;
    line-height: normal;
    margin-bottom: 10px;
    box-shadow: 0px 5px 10px -3px rgba(0,0,0,0.8);
}
#subtitle{
    display: block;
    width: auto;
    height: auto;
    padding: 0px;
    margin: 0px;

    font-family: 'Montserrat-Medium';
    font-size: 14px;
    color: #000000;
    text-align: left;
    font-weight: normal;
    line-height: normal;
}

#rollo-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0px;
    left: 0px;
    background-color: #f3dbc2;
}

#rollo-wrap{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
}
.rollo-container{
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    margin: 0px;
    align-items: center;
    justify-content: flex-end;
}
.rollo-container img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: right bottom;
    margin: 0px;
}


#thumbnails{
    position: absolute;
    width: auto;
    height: auto;
    top: 50%;
    transform: translateY(-50%);

    transition: left 0.5s;
}
.thumbnails-on{
    left: 0px;
}
.thumbnails-off{
    left: -250px;
}

.thumbnail{
    position: relative;
    width: 150px;
    height: 85px;
    box-sizing: border-box;
    padding: 10px 10px;
    background-color: #ffffff;
    display: block;
    margin: 0px;
    box-shadow: 5px 0px 7px -2px rgba(0,0,0,0.7);

    transition: width 0.2s, height 0.2s;
}
.thumbnail-img{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(255,0,0,0);

    transition: background-color 0.2s;
}
.thumbnail > img{
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    top: 50%;
    top: calc(50% - 25px);
    top: -moz-calc(50% - 25px);
    left: 50%;
    left: calc(50% - 25px);
    left: -moz-calc(50% - 25px);
    filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.8));
    visibility: hidden;
    transform: scale(0.5);
    opacity: 0;

    transition: visibility 0.2s, transform 0.2s, opacity 0.2s;
}

.thumbnail-over{
    cursor: pointer;
    width: 200px;
    height: 113px;
}
.thumbnail-over2{
    width: 175px;
    height: 99px;
}
.thumbnail-over .thumbnail-img{
    background-color: rgba(255,0,0,1);
    mix-blend-mode: multiply;
    background-blend-mode: multiply;
}
.thumbnail-over > img{
    visibility: visible;
    transform: scale(1);
    opacity: 1;

    transition: visibility 0s, transform 0.2s 0.2s, opacity 0.2s 0.2s;
}

#informacion{
    position: absolute;
    width: 300px;
    height: auto;
    left: 250px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
}

#informacion-txt{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}
#informacion-txt h2,
#informacion-txt p{
    margin: 0px;
    padding: 0px;
    display: block;
    width: auto;

    font-weight: normal;
    line-height: normal;
    text-align: center;
}

#informacion-txt h2{
    font-family: 'Montserrat-Bold';
    font-size: 16px;
    color: #D01921;
    margin-bottom: 10px;
}
#informacion-txt p{
    font-family: 'Montserrat-Medium';
    font-size: 14px;
    color: #000000;
}

#informacion-txt ul{
    display: block;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
}
#informacion-txt li{
    margin: 0px;
    padding: 0px;
    display: block;
    width: auto;

    font-family: 'Montserrat-Medium';
    font-size: 14px;
    color: #000000;
    font-weight: normal;
    line-height: normal;
    text-align: left;
    box-sizing: border-box;
    padding-left: 20px;
    
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 0px 0px;
    background-image: url(../images/icon-list.svg);
}

.informacion-off{
    filter: blur(20px);
    opacity: 0;
    visibility: hidden;

    transition: filter 0.5s, opacity 0.5s, visibility 0.5s;
}
.informacion-on{
    filter: blur(0px);
    opacity: 1;
    visibility: visible;

    transition: filter 0.5s, opacity 0.5s, visibility 0s;
}